@import "tailwindcss";

@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

@layer base {
  body {
    background-color: white;
    color: #171717;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #0a0a0a;
      color: #ededed;
    }
  }
}
