@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-gray-950 text-gray-100;
    }
  }
}
